/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@import './mixins.scss';

.btn-animation {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }

  &:hover {
    color: var(--additional-color);
    &::before {
      width: 100%;
    }
  }

  &:focus-visible {
    outline: none;
    transition: box-shadow 0.3s ease;

    @include desktop {
      box-shadow: dpx(2) dpx(2) dpx(0) dpx(0) var(--main-color);
    }

    @include mobile {
      box-shadow: mpx(2) mpx(2) mpx(0) mpx(0) var(--main-color);
    }
  }
}

.like-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;

  & .contour {
    transition: 0.1s ease;
  }

  & .main-body {
    transition: 0.3s ease;
    fill: var(--additional-color);
  }

  & .core {
    transition: 0.3s ease 0.03s;
    fill: transparent;
  }

  &:hover {
    & .main-body {
      transition: 0.3s ease 0.05s;
      fill: var(--main-color);
    }

    & .core {
      transition: 0.3s ease;
      fill: var(--main-color);
    }
  }

  &:active {
    & .main-body {
      transition: 0.3s ease 0.05s;
      fill: var(--active-heart-color);
    }

    & .core {
      transition: 0.3s ease;
      fill: var(--active-heart-color);
    }
  }

  &.is-liked {
    transition: 0.3s ease;
    animation: heartScale 0.3s ease-in 0.1s;

    & .contour {
      transition: 0.3s ease 0.06s;
      fill: var(--active-heart-color);
    }

    & .main-body {
      transition: 0.3s ease;
      fill: var(--active-heart-color);
    }

    & .core {
      transition: 0.3s ease;
      fill: var(--active-heart-color);
    }

    & .sparks {
      fill: var(--active-heart-color);

      animation: sparksVisible 0.3s ease-in 0.3s both;
    }
  }
}

@keyframes heartScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1s);
  }
}

@keyframes sparksVisible {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes activeTheme {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes focusThemeButtonAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
